.dashboard-grid {
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  align-items: start;
  gap: 20px;
  padding: 0 35px 30px;
}

@media (max-width: 1000px) {
  .dashboard-grid {
    grid-template-columns: 1fr;
  }
}